$fn10: 10;
$fn12: 12;
$fn13: 13;
/*fnh1 was 24 (13+11)*/
$fnh1: 24;

.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font-family: "Roboto Mono", monospace;
}
.tui-editor-defaultUI {
  font-family: "Lato"
}

.te-md-container .CodeMirror,
.tui-editor-defaultUI .te-tab button,
.tui-popup-header .tui-popup-title,
.tui-popup-code-block-editor .CodeMirror-line{
  font-size: #{$fn13}px;
}
.tui-editor-defaultUI button,
.tui-editor-defaultUI .te-mode-switch-section,
.tui-popup-body,
.te-popup-table-utils button,
.te-popup-code-block-languages button {
  font-size: #{$fn12}px;
}
.te-preview {
  background-color: #f3f3f3;
}

.tui-editor-contents pre {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
}
//.CodeMirror pre {
//  background-color: #f8f8f8;
//  border: 1px solid #ccc;
//}
.CodeMirror-selected{
  background: #d9d9d9 !important;
}

.tui-tooltip,
.te-ww-block-overlay.code-block-header span,
.te-ww-block-overlay.code-block-header button,
.te-input-language input
{
  font-size: #{$fn10}px;
}
.cm-header {
  font-weight: 900;
  //box-shadow: -4px 4px 20px 4px rgba(0, 0, 0, 0.5);
  //border: darkred 2px dashed;
  text-shadow: -1px 1px white;
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: 1px solid black;
}

.te-heading-add h1
{
  font-size: #{$fnh1}px;
}

.te-heading-add h2
{
  font-size: #{$fnh1 - 2}px;
}

.te-heading-add h3
{
  font-size: #{$fnh1 - 4}px;
}

.te-heading-add h4 {
  font-size: #{$fnh1 - 6}px;
}

.te-heading-add h5 {
  font-size: #{$fnh1 - 8}px;
}

.te-heading-add h6 {
  font-size: #{$fnh1 - 10}px;
}

.CodeMirror .cm-header-1 {
  font-size: #{$fnh1}px;
  background: rgba(0,0,0,0.3)
}

.CodeMirror .cm-header-2 {
  font-size: #{$fnh1 - 2}px;
  background: rgba(0,0,0,0.2)
}

.CodeMirror .cm-header-3 {
  font-size: #{$fnh1 - 4}px;
  background: rgba(0,0,0,0.1)
}

.CodeMirror .cm-header-4 {
  font-size: #{$fnh1 - 6}px;
  background: rgba(0,0,0,0.05)
}

.CodeMirror .cm-header-5 {
  font-size: #{$fnh1 - 8}px;
  background: rgba(0,0,0,0.05)
}

.CodeMirror .cm-header-6 {
  font-size: #{$fnh1 - 10}px;
  background: rgba(0,0,0,0.05)
}

.tui-editor-contents h1{
  font-size: #{$fnh1}px;
}
.tui-editor-contents h2 {
  font-size: #{$fnh1 - 2}px;
}
.tui-editor-contents h3 {
  font-size: #{$fnh1 - 4}px;
}
.tui-editor-contents h4 {
  font-size: #{$fnh1 - 6}px;
}
.tui-editor-contents h5{
  font-size: #{$fnh1 - 8}px;
}
.tui-editor-contents h6 {
  font-size: #{$fnh1 - 10}px;
}
.tui-editor-contents {
  font-size: #{$fn13 + 2}px;
}