<script>
    let UML_SRV = "{{plantuml_url}}";
    let editMode = 'edit';
    let author = "{{author}}";
</script>
<div id="wiki-wrapper" class="edit">
    <div id="head">
        <h1>Editing <strong>{{title}}</strong></h1>
        <span id="gollum-editor-status"></span>
        <ul class="actions">
            <li class="minibutton">
                <button type="submit" class="minibutton mini-button" id="gollum-editor-quicksave"
                        title="Quickly save current changes   (Ctrl+S)">
                    <span><i class="fas fa-save mini-icon"></i>Quick Save</span>
                </button>
            </li>
            <li class="minibutton"><a href="{{base_url}}/{{escaped_url_path}}"
                                      class="action-view-page"><i class="far fa-eye mini-icon"></i>View Page</a></li>
            <li class="minibutton"><a href="{{base_url}}/history/{{escaped_url_path}}"
                                      class="action-page-history"><i class="fas fa-history mini-icon"></i> Page History</a>
            </li>
        </ul>
    </div>
    <div id="wiki-content">{{>editor}}</div>
</div>
