<div id="gollum-editor" data-escaped-name="{{escaped_name}}"
     class="{{#is_create_page}}create{{/is_create_page}}{{#is_edit_page}}edit{{/is_edit_page}} {{#allow_uploads}}uploads-allowed{{/allow_uploads}}">
    {{#is_create_page}}
    <form id="gollum-editor-form" name="gollum-editor" action="{{base_url}}/create" method="post">
    {{/is_create_page}}
    {{#is_edit_page}}
    <form id="gollum-editor-form" name="gollum-editor" action="{{base_url}}/edit/{{escaped_name}}" method="post">
    {{/is_edit_page}}
    <fieldset id="gollum-editor-fields">
        {{#is_create_page}}
            <div id="gollum-editor-title-field" class="singleline">
                <label for="page" class="jaws">Page Title</label>
                <input type="text" name="page" id="gollum-editor-page-title" value="{{page_name}}">
                {{#has_path}}
                    <p class="path_note"><strong>NOTE:</strong> This page will be created within the
                        &quot;<strong>{{path}}</strong>&quot; directory</p>
                {{/has_path}}
            </div>
        {{/is_create_page}}
        {{#is_edit_page}}
            <input type="hidden" name="page" id="gollum-editor-page-title" value="{{page_name}}">
        {{/is_edit_page}}
        <input type="hidden" name="path" id="gollum-editor-page-path" value="{{path}}">
        <div id="gollum-editor-function-bar">

            <div id="gollum-editor-format-selector" style="display:none;">
                <label for="format">Edit Mode</label>
                <select id="wiki_format" name="format">
                    {{#formats}}
                        <option {{#selected}}selected="selected" {{/selected}}value="{{id}}">
                            {{name}}
                        </option>
                    {{/formats}}
                </select>
            </div>
        </div>
        <div id="editSection" class="edit-section"></div>
        <textarea name="content" id="mdContent" style="display:none">{{content}}</textarea>


        <div id="gollum-editor-edit-summary">
            <button type="submit" class="minibutton mini-button" id="gollum-editor-submit" title="Save current changes and exit edit mode">
                <i class="far fa-save mini-icon"></i> Save & Exit
            </button>

            <label for="message" class="jaws">Edit message:</label>
            {{#is_create_page}}
                <input type="text" name="message" id="gollum-editor-message-field"
                       value="Created {{page_name}} ({{format}})">
            {{/is_create_page}}
            {{#is_edit_page}}
                <input type="text" name="message" id="gollum-editor-message-field"
                       value="Updated {{page_name}} ({{format}})">
            {{/is_edit_page}}
        </div>
        <span class="jaws"><br></span>
        <!--<input type="submit" id="gollum-editor-submit" value="Save" title="Save current changes">-->
    </fieldset>
    </form>

    <script src="/assets/scripts/editor-bundle.js"></script>
    <link rel="stylesheet" type="text/css" href="{{base_url}}/assets/scripts/editor-bundle.css" media="all">
    <link rel="stylesheet" href="/assets/scripts/tui-override.css">

</div>
