<script>
    let UML_SRV = "{{plantuml_url}}";
    document.body.className += ' fade-out';
</script>
<div id="wiki-wrapper" class="page">
    <div id="head">
        <h1>{{page_header}}</h1>
        <ul class="actions">
            <li class="minibutton">
                {{>searchbar}}
            </li>
            <li class="minibutton"><a href="{{base_url}}/"
                                      class="action-home-page"><i class="fas fa-home mini-icon-2"></i>Home</a></li>
            <!--<li class="minibutton"><a href="{{base_url}}/pages"-->
                                      <!--class="action-all-pages">All</a></li>-->
            <!--<li class="minibutton"><a href="{{base_url}}/fileview"-->
                                      <!--class="action-fileview">Files</a></li>-->
            {{#allow_editing}}
                <!--<li class="minibutton jaws">-->
                    <!--<a href="#" id="minibutton-new-page">New</a></li>-->
                <!--<li class="minibutton jaws">-->
                    <!--<a href="#" id="minibutton-upload-page"><i class="fas fa-upload mini-icon-2"></i>Upload</a></li>-->
            {{/allow_editing}}
            {{#allow_editing}}
                {{#allow_uploads}}
                    <li class="minibutton jaws">
                        <a href="#" id="minibutton-upload-page mini-icon-2">Upload</a></li>
                {{/allow_uploads}}
            {{/allow_editing}}
            {{#allow_editing}}
                {{#editable}}
                    <!--<li class="minibutton jaws">-->
                        <!--<a href="#" id="minibutton-rename-page">Rename</a></li>-->
                {{/editable}}
            {{/allow_editing}}
            {{#allow_editing}}
                {{#editable}}
                    <li class="minibutton"><a href="{{base_url}}/edit/{{escaped_url_path}}"
                                              class="action-edit-page"><i class="fas fa-pen-nib mini-icon-2"></i>Edit</a></li>
                {{/editable}}
            {{/allow_editing}}
            {{#page_exists}}
                <li class="minibutton"><a href="{{base_url}}/history/{{escaped_url_path}}"
                                          class="action-page-history"><i class="fas fa-history mini-icon-2"></i>History</a></li>
                <li class="minibutton"><a href="{{base_url}}/latest_changes"
                                          class="action-page-history"><i class="fas fa-file-medical-alt mini-icon-2"></i>Latest Changes</a></li>
            {{/page_exists}}
        </ul>
    </div>
    <div id="wiki-content">
        <div class="{{#has_header}}has-header{{/has_header}}{{#has_footer}} has-footer{{/has_footer}} reza has-sidebar has-{{bar_side}}bar{{#has_toc}} has-toc{{/has_toc}}">
            {{#has_toc}}
                <div id="wiki-toc-main">
                    {{{toc_content}}}
                </div>
            {{/has_toc}}
            <div class="split">
                <div id="wiki-sidebar" class="gollum-html-content split split-horizontal">
                    <div id="sidebar-filter">
                        <label><i class="fas fa-filter"></i></label>
                        <input id="treeFilter" name="treeFilter" placeholder="Fuzzy node filter..." autocomplete="off">
                        <button id="btnResetSearch"><i class="fas fa-eraser"></i></button>
                        <span id="matches"></span>
                    </div>
                    <div id="filter-divider"></div>
                    <div id="sidebar-content">
                        {{{tree}}}
                    </div>
                </div>
                <!--<div id="wiki-body" class="gollum-{{format}}-content">-->
                <div class="markdown-body split split-horizontal" id="cc1" tabindex="2">
                    {{#has_header}}
                        <div id="wiki-header" class="gollum-{{header_format}}-content">
                            <div id="header-content" class="markdown-body">
                                {{{header_content}}}
                            </div>
                        </div>
                    {{/has_header}}
                    <!--use page.raw_data for markdown-->
                    {{{content}}}
                    {{#has_footer}}
                        <div id="wiki-footer" class="gollum-{{footer_format}}-content">
                            <div id="footer-content" class="markdown-body">
                                {{{footer_content}}}
                            </div>
                        </div>
                    {{/has_footer}}
                    <div id="footer">
                        <p id="last-edit">Last edited by <b>{{author}}</b>, {{date}}</p>
                        {{#allow_editing}}
                            <p>
                                <a id="delete-link" href="{{base_url}}/{{escaped_url_path}}"
                                   data-confirm="Are you sure you want to delete this page?"><span>Delete this Page</span></a>
                            </p>
                        {{/allow_editing}}
                    </div>
                </div>
            </div>
            <!--</div>-->
        </div>
    </div>

    <form name="rename" method="POST" action="{{base_url}}/rename/{{escaped_url_path}}">
        <input type="hidden" name="rename"/>
        <input type="hidden" name="message"/>
    </form>
</div>
<script type="text/javascript" src="/assets/scripts/viewer-bundle.js"></script>